# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Logs
*.log

# Secrets
*.tfvars
!terraform/env/dev.tfvars

# Python
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db

# Lambda zip
*.zip